<%- include("header") -%> 

<h2>This is the about page</h2>

<p>alskjdf;laskjd;flkasjd fhsdifh aosjdf oaishdf sjdhfasdflkasdfoquiwyehfahbjs dfpqwiuehfklasjhdfkashdchjbsuoydghfoahslkdjfh askdjfh </p>

<%- include("footer") -%> 