<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        
        <!-- CSS -->
        <link rel="stylesheet" href="css/styles.css">
        

        <title>To Do List</title>
</head>
<body>