<%- include("header") -%> 

        <div class="box" id="heading">

                <h1><%= listTitle %> </h1>

        </div>

        <div class="box">


                <% newListItems.forEach(function(item){ %>
                        <form action="/delete" method="POST">

                                <div class="item">
                                        <input type="checkbox" name ="checkbox" value="<%=item._id%>" onchange="this.form.submit()">
                                        <p><%= item.name %></p>
                                </div>
                                <input type="hidden" name="listName" value="<%= listTitle %>"></input>

                        </form>
                <% }); %>
        
                <form action="/" method="post" class="item">

                        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        
                        <button type="submit" name="list" value=<%= listTitle %> >+</button>
        
                </form>
                
        </div>

<%- include("footer") -%> 