body {
    font-family: "Montserrat";
    text-align: center;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat";
    font-weight: bold;
}

/* Heading */

.container-fluid{
    padding: 7% 15%;
}

.big-heading{
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}

/* Sections */

.colored-section{
    background-color: #ff4c68;
    color: white;
}

.white-seciton{
    background-color: #fff;
}


/* Navigation Bar */

.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: lighter;
}

/* Download Buttons */

.download-button{
    margin: 5% 3% 5% 0;
}

/* Title Section */

#title .container-fluid{
    padding: 3% 15% 7%;
    text-align: left;
}

/* Title image */

.title-image{
    width: 58%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

@media (max-width: 990px){
    .title-image{
        position: static;
        transform: rotate(0);
    }

    #title{
        text-align: center;
    }
}

/* Features */

#features{
    position: relative;
}

.features-h3{
    font-size: 1.5rem;
}

.features-box{
    padding: 5%;
}

.features-icon{
    color: #ef8172;
    font-size: 5rem;
    margin-bottom: 1rem;
}

.features-icon:hover{
    color: #ff4c68;
}

.features-paragraph{
    color: #8f8f8f;
    width: 60%;
    position: relative;
    margin: auto;
}

/*Testemonial Sections*/

#testimonials{
    background-color: #ef8172;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}

#press{

    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 15px;
}

/* Pricing section */

#pricing{
    padding: 100px;
}

.pricing-column{
    padding: 3% 2%;
}

.price-text{
    font-size: 3rem;
    line-height: 1.5;
}

/* Call to action */



/* Footer */

.footer-paragraph{
    color: #8f8f8f;
}

.footer-icon{
    position: relative;
    margin: 20px 10px;
}



