body{
    margin: 0;
    text-align: center;
    font-family: 'Merriwether', serif;
    color: #40514E;
}

h1{
    margin-top: 0;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    color: #66BFBF;
}

h2{
    font-family: 'Montserrat', sans-serif ;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

p{
    line-height: 2;
}

span{
    text-decoration: underline;
    
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 4px;
    width: 5%;
    margin: 5rem auto;
}

.top-container{
    background-color: #EAF6F6;  
    position: relative;
    padding-top: 100px;
}



.skill-row {
    width: 50%;
    position: relative;
    margin: 6.25rem auto;
    text-align: left;
    
    
}


.middle-container{
    
   
    
}

.profile{
    margin-top: 4rem;
}

.profile-description{
    width: 30%;
    position: relative;
    margin: auto;
    
}

.bottom-container{
    margin-top: 4rem;
    background-color: #66BFBF;
    padding-bottom: 2rem;
    padding-top: 3rem;

}

.footer-link{
    color:#11999E ;
    text-decoration: none;
    
}

.contact-para{
    margin: 3rem auto;
    width: 40%;
}

.copyright{
    color: #EAF6F6;
}

.BUTTON_SSU {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: 'Merriwether', serif;
    font-size: 20px;
    font-weight: 100;
    padding: 10px;
    background-color: #11999E;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud{
    position:absolute;
    left: 300px;
    bottom: 300px;
}

.pc-image{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.kettlebell-image{
    width: 25%;
    float: right;
    margin-left: 30px;
    
}