<%- include("header") -%> 

        <div class="box" id="heading">

                <h1><%= listTitle %> </h1>

        </div>

        <div class="box">

               
                <% for (var i = 0; i<newListItems.length; i++){ %>
                        <div class="item">
                                <input type="checkbox" name="" id="">
                                <p><%= newListItems[i] %></p>
                        </div>  
                <% } %> 
        
                <form action="/" method="post" class="item">

                        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        
                        <button type="submit" name="list" value=<%= listTitle %> >+</button>
        
                </form>
                
        </div>

<%- include("footer") -%> 