           
body {
    background-color:#e8ffff ;
}

hr{
    /*My way of completing the task*/
    /* 
    border-top: 5px dotted gray;
    border-bottom:  none;
    border-left: none;
    border-right: none;
    width: 5%;
    */

    /*Course way*/
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 5px;
    width: 5%;
}

h1{
    color: #41aea9;
}
h3{
    color: #41aea9;
    background-color: #a6f6f1;
    width: fit-content;
}