<%- include("partials/header") -%>

        <h1>Compose</h1>

        <form action="/compose" method="post" >
                <div class="form-group">

                        <label for="">Title</label>
                        <input type="text" name="postTitle" id="" class="form-control">
        
                        <label for="">Post</label>
                        <textarea name="postBody" class="form-control" id="" cols="30" rows="5"></textarea>
                        
                </div>

                <button type="submit" class="btn btn-primary">Publish</button>
                
        </form>
        

        
<%- include("partials/footer") -%>