<!--Intro to HTML-->

    <!--Lesson 1 Intro to HTML-->

    <center>

        <h1>Lesson 1</h1>
        <br>
        <br>
        <h1>This is level 1 heading created using h1 tag</h1>

        <h1>Heading level 1</h1>
        <h2>Heading level 2</h2>
        <h3>Heading level 3</h3>
        <h4>Heading level 4</h4>
        <h5>Heading level 5</h5>
        <h6>Heading level 6</h6>

        <br>
        <hr size="3" noshade>
        <br>
    

    <!--Lesson 2 The Anatomy of an HTML tag-->
        <h1>Lesson 2</h1>
        <!--link for the documentation for almost every programming language, but in this case for HTML-->
        <h3><a href="https://devdocs.io/html/">Documentation for HTML</a></h3>
        <!--line break, bassicly an enter in HTML-->
        <br>

        <!--streight line on a page, can have atributes, look at the documentation-->
        <hr size="3" noshade>

    </center>

