body {
    font-family: "Montserrat";
}
#title{
    background-color: #ff4c68;
    color: white;
}

.container-fluid{
    padding: 3% 15%;
}

.title{
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

/* Navigation Bar */

.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: lighter;
    font-family: "Montserrat";
}

/* Download Buttons */

.download-button{
    margin: 5% 3% 5% 0;
}

/* Title image */

.title-image{
    width: 60%;
    transform: rotate(25deg);
}

/* Features */

#features{
    margin: 7% 15%;
}

.features-box{
    text-align: center;
    padding: 5%;
}

.features-icon{
    color: #ef8172;
    font-size: 5rem;
    margin-bottom: 1rem;
}

.features-icon:hover{
    color: #ff4c68;
}

.features-h3{
    font-family: "Montserrat";
    font-weight: bold;
}

.features-paragraph{
    color: #8f8f8f;
    width: 60%;
    position: relative;
    margin: auto;
}



